/* 全体的な設定 */
body, a, li, div {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: #2c3e50;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #f6ffd7; /* 明るいグレー */
    position: relative; 
    

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: #f6ffd7; /* 明るいグレー */
    position: relative; 
    

}

/* ロゴ部分 */
.icon {
    max-width: 150px;
    display: block;
}

/* メインのナビゲーション項目 */
.g_nav {
    display: flex;
    gap: 20px;
}

.menu {
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.menu:hover {
    background-color: #3498db; /* 青色 */
    color: #ecf0f1; /* 明るいグレー */
    transform: translateY(-2px); /* 少し上に移動 */
}

.menu a {
    color: inherit; /* 親要素（.menu）の色を継承 */
}

/* サインインとハンバーガーメニュー */
.sign {
    display: flex;
    gap: 10px;
}

.sign_in {
    background-color: #3498db; /* 青色 */
    color: #ecf0f1; /* 明るいグレー */
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.sp img {
    width: 30px;
    cursor: pointer;
}

/* サイドメニュー（ハンバーガーメニューがクリックされた時に表示） */
.side_menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    background-color: #ecf0f1; /* 明るいグレー */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: none; /* デフォルトでは非表示 */
}

.side_menu.active {
    display: block;
}

.side_menu ul {
    list-style: none;
    padding: 0;
}

.side_menu li {
    padding: 10px;
    border-bottom: 1px solid #bdc3c7; /* グレーの境界線 */
    cursor: pointer;
}

.side_menu li:hover {
    background-color: #3498db; /* 青色 */
    color: #ecf0f1; /* 明るいグレー */
}

.sign_up {
    background-color: #3498db;
    color: #ecf0f1;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}
